html,
body {
    height: 100%;
    background-image: url("../img/bg.jpg") !important; 
    background-color: #82b8da;

}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
.MainForm{
	background-color: #e9e9e9;
	margin: auto;
	height: 600px;
	width: 650px;
	padding: 10px;
	padding-left: 200px;
	padding-top: 10px;
	border: solid 3px;
	border-radius: 8px;
	position: center;
}
.col-md-7, .col-md-7, .col-lg-8{
	padding-top: 30px;
}

h1, h2, p{
	text-align: center;
}

h1{
	font-weight: bold;
	font-size: 18px;
}

h2{
	font-size: 14px;
}

p{
	font-size: 12px;
}


#main
{
overflow:auto;
padding-bottom:100px; /* this needs to be bigger than footer height*/
}

.footer
{
text-align: center;
position: relative;

height: 100px;
clear:both;
padding-top:40px;
color:#fff;

}
